.header__lang-link {
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;
    margin-left: 18px;
    text-decoration: none;
    transition: opacity .5s ease-out;
    
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity .5s ease-out;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        
    }
}
