.place__paragraphs {
    display: flex;
    flex-direction: column;
    max-width: 484px;
    margin-left: 40px;
    
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        margin-left: 32px;
        width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        margin-left: 28px;
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        margin: 32px auto 0;
        width: 288px;
    }
}