.cover__text {
    width: 560px;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-decoration: none;
    margin: auto;
}

@media screen and (max-width: 320px) {
    .cover__text {
        width: 288px;}
        
}