.footer {
    font-family: 'Inter', 'Arial', sans-serif;
    display: flex;
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
    justify-content: space-between;
    background-color: #2A2C2F;
    
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
        
    }
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        padding-top: 32px;
        margin: 0;
        
    }
}